.dashboard {
    padding: 20px;
    
  }
  .dashboard-header {
    display: flex;
    flex-grow: 1;
  }
  .game-info {
    flex-grow: 1;
    margin-bottom: 20px;
  }
  .image-container {
    float: right;
    width: 30%; /* Adjust the width as needed */
  }
  
  .dashboard-image {
    width: 100%;
    height: auto;
  }
  
  .team-info {
    display: flex;
    justify-content: space-between;
  }
  
  .team-card {
    flex-basis: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    
  }

  .row {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Add margin-bottom for spacing between rows */
  }
  
  .row-number {
    width: 30px;
    text-align: center;
    font-weight: bold;
  }
  
  .highlight {
    background-color: yellow;
    font-weight: bold;
    position: relative; /* Add position: relative to the highlighted row */
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    left: -20px; /* Adjust the distance of the arrow from the right side */
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid blue; /* Set the color of the arrow to blue */
  }

  .current-score-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .current-score {
    position: relative;
    font-size: 50px;
    background-image: url('/assets/star.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
  }
  .circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    font-size: 30px;
  }
  
  .positive {
    background-color: green;
    color: white;
  }
  
  .negative {
    background-color: red;
    color: white;
  }