<div class="dashboard">
  <h2>Game Dashboard</h2>

  <div class="game-info">
    <p><strong>ID:</strong> {{ gameData.id }}</p>
    <p><strong>Game Name:</strong> {{ gameData.gameName }}</p>
    <p><strong>Game Code:</strong> {{ gameData.gameCode }}</p>
    <p><strong>Started At:</strong> {{ gameData.startedAt | date:'yyyy-MM-dd HH:mm:ss' }}</p>
    <p><strong>Is Game Over:</strong> {{ gameData.isGameOver }}</p>
    <p><strong>Total Number of Checkpoints:</strong> {{ gameData.totalNumberOfCheckPoints }}</p>
    <p><strong>Updated At:</strong> {{ gameData.updatedAt | date:'yyyy-MM-dd HH:mm:ss' }}</p>
  </div>

  <div class="team-info">
    <div class="team-card" *ngFor="let team of gameData.teamWiseGameState | keyvalue">
      <h3>{{ team.key }}</h3>
      <p><strong>Current Score:</strong> {{ team.value.currentScore }}</p>
      <p><strong>Finished At:</strong> {{ team.value.finishedAt | date:'yyyy-MM-dd HH:mm:ss' || 'N/A' }}</p>
      <p><strong>Current Checkpoint Index:</strong> {{ team.value.curCheckPointIndex }}</p>
      <p><strong>Score Transaction:</strong></p>
      <ul>
        <ng-container *ngFor="let transaction of team.value.scoreTransaction; let rowIndex = index">
          <div class="row" [ngClass]="{'highlight': rowIndex === team.value.curCheckPointIndex}">
            <div class="arrow" *ngIf="rowIndex === team.value.curCheckPointIndex"></div>
            <div class="row-number">{{ rowIndex + 1 }}</div>
            <div class="circle" *ngFor="let value of transaction" [ngClass]="{'positive': value > 0, 'negative': value < 0}">
              {{ value }}
            </div>
          </div>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
